{% extends "navbar.html" %}
{% block content %}
    <div class="container">
        <form method="post">
            {% csrf_token %}

            {{ supplies_form.as_p }}

            {{ supplies_items_formset.management_form }}
            <div id="supplies-items-formset">
                {% for form in supplies_items_formset %}
                    <div class="form-row">
                        {{ form.as_table }}
                    </div>
                {% endfor %}
            </div>

            <button type="button" class="btn btn-outline-success" id="add-form">Добавить</button>

            <input type="submit" class="btn btn-outline-primary" value="Создать">
        </form>

        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>
        <script>
            $(document).ready(function () {
                $('#add-form').click(function () {
                    // Находим контейнер для формсета
                    var formsetTable = $('#supplies-items-formset');

                    // Клонируем последнюю форму и обновляем номера полей
                    var newForm = formsetTable.find('.form-row:first').clone();
                    var totalForms = formsetTable.find('.form-row').length;

                    // Изменение атрибутов name и id для каждого элемента формы
                    newForm.find('input, select').each(function () {
                        var prefix = 'supplies_items';
                        var name = $(this).attr('name').replace(/-\d+-/g, '-' + totalForms + '-');
                        var id = 'id_' + name;
                        $(this).attr({'name': name, 'id': id}).val('').removeAttr('checked');
                        console.log($(this).attr('name'));
                    });

                    // Вставляем новую форму в формсет
                    formsetTable.append(newForm);

                    // Обновляем значение TOTAL_FORMS
                    $('#id_supplies_items-TOTAL_FORMS').val(totalForms + 1);
                    console.log($('#id_supplies_items-TOTAL_FORMS').val());
                });
            });
        </script>
    </div>
{% endblock %}