<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Цветочный магазин</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
    <style>
        /* Add custom CSS for white background */
        .content-container {
            background-color: white;
            padding: 20px; /* Adjust padding as needed */
            border-radius: 10px; /* Optional: Add rounded corners */
        }
    </style>
    <link rel="icon" type="image/x-icon" href="https://img.icons8.com/fluency/48/flower.png">
</head>
<body class="animate__animated animate__fadeIn animate__delay-2s" id="animated-bg">

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="margin-bottom: 20px">

    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Лого</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item"><a href="{% url 'index' %}" class="nav-link">Главная</a></li>
                <li class="nav-item"><a href="{% url 'products' %}" class="nav-link">Товары</a></li>
                <li class="nav-item"><a href="{% url 'services' %}" class="nav-link">Услуги</a></li>
                {% if  request.user.is_authenticated %}
                    <li class="nav-item"><a href="{% url 'orders' request.user.id %}" class="nav-link">Заказы</a>
                    </li>
                    <li class="nav-item"><a href="{% url 'logout' %}" class="nav-link">Выйти</a></li>
                {% endif %}
                {% if request.user.role.name == 'Управляющий' and request.user.is_authenticated %}
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <button class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                Для управляющего
                            </button>
                            <ul class="dropdown-menu">

                                <li class="dropdown-item"><a href="{% url 'sales' request.user.filial.id %}"
                                                             class="nav-link">Продажи</a>
                                </li>
                                <li class="dropdown-item"><a href="{% url 'write_offs' request.user.filial.id %}"
                                                             class="nav-link">Списания</a></li>
                                <li class="dropdown-item"><a href="{% url 'supplies' request.user.filial.id %}"
                                                             class="nav-link">Поставки</a>
                                </li>
                                <li class="dropdown-item"><a href="{% url 'all_sales' %}"
                                                             class="nav-link">Продажи общие</a>
                                </li>
                                <li class="dropdown-item"><a href="{% url 'all_write_offs' %}"
                                                             class="nav-link">Списания общие</a>
                                </li>
                                <li class="dropdown-item"><a href="{% url 'all_supplies' %}"
                                                             class="nav-link">Поставки общие</a>
                                </li>
                                <li class="dropdown-item"><a href="{% url 'all_orders' %}"
                                                             class="nav-link">Все заказы</a>
                                </li>

                                {% if user.is_superuser %}
                                    <li class="dropdown-item" {% if request.path == '/admin/' %}active{% endif %}">
                                    <a class="nav-link" href="{% url 'admin:index' %}">Админка</a>
                                {% endif %}
                            </ul>
                        </li>
                    </ul>
                {% endif %}
                {% if request.user.is_authenticated == False %}
                    <li class="nav-item"><a href="{% url 'login' %}" class="nav-link">Войти</a></li>
                    <li class="nav-item"><a href="{% url 'register' %}" class="nav-link">Зарегистрироваться</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>


{% block content %}
{% endblock %}

<script>
    $(document).ready(function () {
        $(".supply").click(function () {
            // Найти ближайшую карточку и отобразить форму только внутри неё
            var card = $(this).closest('.card');
            card.find(".supply_form").removeAttr("hidden");
        });
    });
</script>
{#<script>#}
{#    // JavaScript to dynamically change the background gradient#}
{#    function updateBackground() {#}
{#        var body = document.getElementById('animated-bg');#}
{#        var currentTime = new Date().getTime();#}
{#        var gradient = 'linear-gradient(to right, ' +#}
{#            'rgb(' + Math.round(Math.sin(currentTime / 1000) * 100 + 150) + ', ' +#}
{#            Math.round(Math.sin(currentTime / 2000) * 100 + 150) + ', ' +#}
{#            Math.round(Math.sin(currentTime / 3000) * 100 + 150) + '), ' +#}
{#            'rgb(' + Math.round(Math.sin(currentTime / 4000) * 100 + 150) + ', ' +#}
{#            Math.round(Math.sin(currentTime / 5000) * 100 + 150) + ', ' +#}
{#            Math.round(Math.sin(currentTime / 6000) * 100 + 150) + '))';#}
{##}
{#        body.style.background = gradient;#}
{#        requestAnimationFrame(updateBackground);#}
{#    }#}
{##}
{#    // Initial call to start the animation#}
{#    updateBackground();#}
{#</script>#}

</body>
</html>