{% extends 'navbar.html' %}



{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Каталог товаров</h1>
            </div>
        </div>
    </div>

    {% if error %}
        <div class="row justify-content-center">
            <div class="col-9">
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if success %}
        <div class="row justify-content-center">
            <div class="col-9 items-center">
                <div class="alert alert-success" role="alert">
                    {{ success }}
                </div>
            </div>
        </div>
    {% endif %}

    {% if success_supply %}
        <div class="row justify-content-center">
            <div class="col-9 items-center">
                <div class="alert alert-success" role="alert">
                    {{ success_supply }}
                </div>
            </div>
        </div>

    {% endif %}
    <div class="container">
        <div class="row">
            {% for p in products %}
                <div class="col-4">
                    <div class="card mb-4 d-flex flex-fill" id="card_{{ p.id }}">
                        <img src="{{ p.photo.url }}" class="card-img-top" alt="{{ p.name }}"
                             style="max-height: 200px; object-fit: cover;">
                        <div class="card-body">
                            <h5 class="card-title">{{ p.name }}</h5>
                            <h6 class="card-title">{{ p.type_product }}</h6>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">Стоимость: {{ p.cost }} руб.</li>
                                <li class="list-group-item">Остаток: {{ p.stock_balance }}</li>
                                <li class="list-group-item">Срок годности: {{ p.sheif_life }} дней</li>
                            </ul>
                            {% if p.stock_balance > 0 %}
                                {% if request.user.is_authenticated %}
                                    <form method="post" action="{% url 'create_order' p.id %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="product_id" value="{{ p.id }}">
                                        <label for="product_count">Количество</label>
                                        <input type="number" name="product_count" value="1" min="1"
                                               max="{{ p.stock_balance }}"
                                               class="form-control">
                                        <label for="filial">Филиал, в котором планируете забирать</label>
                                        <select name="filial" class="form-control">
                                            {% for f in filials %}
                                                <option value="{{ f.id }}">{{ f.city }} {{ f.street }}</option>
                                            {% endfor %}
                                        </select>
                                        <button type="submit" class="btn btn-outline-success mt-2">Купить</button>
                                    </form>

                                    {% if request.user.role.name == 'Управляющий' %}
                                        <a class="btn btn-outline-info mt-2 supply">Заказать</a>
                                    {% endif %}
                                {% else %}
                                    <div class="alert alert-info mt-2" role="alert">
                                        Для заказа товара необходимо авторизоваться
                                    </div>
                                {% endif %}
                            {% else %}
                                <div class="alert alert-danger mt-2" role="alert">
                                    Товара нет в наличии
                                </div>
                                {% if request.user.role.name == 'Управляющий' %}
                                    <a class="btn btn-outline-info mt-2 supply">Заказать</a>
                                {% endif %}

                            {% endif %}
                            <div class="container supply_form" hidden="hidden">
                                {% if request.user.role.name == 'Управляющий' %}
                                    <form method="post" action="{% url 'create_supply' p.id %}">
                                        {% csrf_token %}
                                        <label for="product_count">Количество</label>
                                        <input type="number" name="product_count" value="1" min="1"
                                               class="form-control">
                                        <label for="filial">Филиал, в который необходимо заказать</label>
                                        <select name="filial" class="form-control">
                                            {% for f in filials %}
                                                <option value="{{ f.id }}">{{ f.city }} {{ f.street }}</option>
                                            {% endfor %}
                                        </select>
                                        <label for="date">Дата поставки</label>
                                        <input type="date" name="delivery_date" class="form-control">
                                        <button type="submit" class="btn btn-outline-success mt-2">Заказать</button>
                                    </form>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}