{% extends 'navbar.html' %}
{% block content %}
    <div class="container mt-5">
        <h2>Регистрация</h2>
        <form method="post" action="{% url 'register' %}" class="col-md-6">
            {% csrf_token %}
            <div class="mb-3">
                {{ form.username.label_tag }}
                {{ form.username }}
            </div>
            <div class="mb-3">
                {{ form.password.label_tag }}
                {{ form.password }}
            </div>
            <div class="mb-3">
                {{ form.first_name.label_tag }}
                {{ form.first_name }}
            </div>
            <div class="mb-3">
                {{ form.last_name.label_tag }}
                {{ form.last_name }}
            </div>
            <div class="mb-3">
                {{ form.email.label_tag }}
                {{ form.email }}
            </div>
            <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
        </form>
    </div>
{% endblock %}