{% extends 'navbar.html' %}

{% block content %}
       <div class="content-container">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Товар</th>
                <th scope="col">Дата списания</th>
                <th scope="col">Филиал</th>
                <th scope="col">Стоимость</th>
            </tr>
            </thead>
            <tbody>
            {% for s in sales %}
                <tr>
                <th scope="row">{{ s.id }}</th>
                <td>{{ s.product }}</td>
                <td>{{ s.date }}</td>
                <td>{{ s.filial }}</td>
                <td>{{ s.cost }}</td>
            {% endfor %}
            </tbody>
        </table>
        <div class="mb-4">
            Итого: {{ total_cost }} руб.
        </div>
    </div>
{% endblock %}